@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'gg-sans';
  src: url('/fonts/gg-sans-regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/fonts/gg-sans-medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/fonts/gg-sans-semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/fonts/gg-sans-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sans: 'gg-sans', sans-serif;

  --radius-none: 0px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-xxl: 32px;
  --radius-round: 2147483647px;

  --color-black-100: hsl(0, 0%, 94.9%);
  --color-black-130: hsl(0, 0%, 91%);
  --color-black-160: hsl(0, 0%, 85.5%);
  --color-black-200: hsl(0, 0%, 80%);
  --color-black-230: hsl(0, 0%, 74.1%);
  --color-black-260: hsl(0, 0%, 67.5%);
  --color-black-300: hsl(0, 0%, 60%);
  --color-black-330: hsl(0, 0%, 47.8%);
  --color-black-345: hsl(0, 0%, 40%);
  --color-black-360: hsl(0, 0%, 36.1%);
  --color-black-400: hsl(0, 0%, 20%);
  --color-black-430: hsl(0, 0%, 14.5%);
  --color-black-460: hsl(0, 0%, 7.8%);
  --color-black-500: hsl(0, 0%, 0%);
  --color-black-530: hsl(0, 0%, 0%);
  --color-black-560: hsl(0, 0%, 0%);
  --color-black-600: hsl(0, 0%, 0%);
  --color-black-630: hsl(0, 0%, 0%);
  --color-black-660: hsl(0, 0%, 0%);
  --color-black-700: hsl(0, 0%, 0%);
  --color-black-730: hsl(0, 0%, 0%);
  --color-black-760: hsl(0, 0%, 0%);
  --color-black-800: hsl(0, 0%, 0%);
  --color-black-830: hsl(0, 0%, 0%);
  --color-black-860: hsl(0, 0%, 0%);
  --color-black-900: hsl(0, 0%, 0%);

  --color-gray-100: hsl(0, 0%, 97.6%);
  --color-gray-130: hsl(220, 13%, 95.5%);
  --color-gray-160: hsl(210, 11.1%, 92.9%);
  --color-gray-200: hsl(216, 9.8%, 90%);
  --color-gray-230: hsl(210, 9.1%, 87.1%);
  --color-gray-260: hsl(214, 8.4%, 83.7%);
  --color-gray-300: hsl(210, 9.3%, 78.8%);
  --color-gray-330: hsl(215, 8.8%, 73.3%);
  --color-gray-345: hsl(214, 8.4%, 67.5%);
  --color-gray-360: hsl(214, 8.1%, 61.2%);
  --color-gray-400: hsl(223, 5.8%, 52.9%);
  --color-gray-430: hsl(229, 4.8%, 44.9%);
  --color-gray-460: hsl(228, 5.2%, 38%);
  --color-gray-500: hsl(228, 6%, 32.5%);
  --color-gray-530: hsl(227, 6.5%, 27.3%);
  --color-gray-560: hsl(225, 6.7%, 23.5%);
  --color-gray-600: hsl(223, 6.7%, 20.6%);
  --color-gray-630: hsl(220, 6.5%, 18%);
  --color-gray-645: hsl(220, 7%, 16.9%);
  --color-gray-660: hsl(228, 6.7%, 14.7%);
  --color-gray-700: hsl(225, 6.3%, 12.5%);
  --color-gray-730: hsl(225, 7.1%, 11%);
  --color-gray-760: hsl(220, 6.4%, 9.2%);
  --color-gray-800: hsl(220, 8.1%, 7.3%);
  --color-gray-830: hsl(240, 4%, 4.9%);
  --color-gray-860: hsl(240, 7.7%, 2.5%);
  --color-gray-900: hsl(0, 0%, 0.8%);

  --color-blue-100: hsl(210, 80%, 98%);
  --color-blue-130: hsl(210, 87.5%, 96.9%);
  --color-blue-160: hsl(209, 87.1%, 93.9%);
  --color-blue-200: hsl(206, 92.3%, 89.8%);
  --color-blue-230: hsl(205, 92.5%, 84.3%);
  --color-blue-260: hsl(204, 94.5%, 78.4%);
  --color-blue-300: hsl(203, 97.4%, 69.6%);
  --color-blue-330: hsl(201, 100%, 59%);
  --color-blue-345: hsl(200, 100%, 49.4%);
  --color-blue-360: hsl(203, 100%, 47.5%);
  --color-blue-400: hsl(207, 100%, 46.1%);
  --color-blue-430: hsl(212, 100%, 45.3%);
  --color-blue-460: hsl(214, 100%, 41%);
  --color-blue-500: hsl(213, 100%, 35.7%);
  --color-blue-530: hsl(212, 100%, 30.4%);
  --color-blue-560: hsl(212, 100%, 26.7%);
  --color-blue-600: hsl(211, 100%, 23.1%);
  --color-blue-630: hsl(211, 100%, 20.8%);
  --color-blue-660: hsl(212, 100%, 18.6%);
  --color-blue-700: hsl(212, 100%, 16.7%);
  --color-blue-730: hsl(211, 100%, 14.1%);
  --color-blue-760: hsl(211, 100%, 12.4%);
  --color-blue-800: hsl(211, 100%, 10.6%);
  --color-blue-830: hsl(213, 100%, 9.4%);
  --color-blue-860: hsl(213, 100%, 8.4%);
  --color-blue-900: hsl(213, 100%, 7.1%);

  --color-brand-100: hsl(240, 77.8%, 98.2%);
  --color-brand-130: hsl(236, 87.5%, 96.9%);
  --color-brand-160: hsl(235, 84.6%, 94.9%);
  --color-brand-200: hsl(236, 83.3%, 92.9%);
  --color-brand-230: hsl(236, 87%, 91%);
  --color-brand-260: hsl(235, 86.2%, 88.6%);
  --color-brand-300: hsl(235, 86.1%, 85.9%);
  --color-brand-330: hsl(235, 85.1%, 81.6%);
  --color-brand-345: hsl(235, 85.2%, 78.8%);
  --color-brand-360: hsl(235, 86.1%, 77.5%);
  --color-brand-400: hsl(235, 86.1%, 71.8%);
  --color-brand-430: hsl(235, 85.7%, 69.8%);
  --color-brand-460: hsl(235, 85.5%, 67.5%);
  --color-brand-500: hsl(235, 85.6%, 64.7%);
  --color-brand-530: hsl(235, 66.7%, 58.8%);
  --color-brand-560: hsl(235, 51.4%, 52.4%);
  --color-brand-600: hsl(235, 46.7%, 44.1%);
  --color-brand-630: hsl(235, 46.7%, 38.2%);
  --color-brand-660: hsl(235, 47.1%, 33.3%);
  --color-brand-700: hsl(235, 47%, 25.9%);
  --color-brand-730: hsl(235, 46.8%, 24.3%);
  --color-brand-760: hsl(234, 46.9%, 22.2%);
  --color-brand-800: hsl(235, 47.5%, 19.4%);
  --color-brand-830: hsl(235, 47.4%, 14.9%);
  --color-brand-860: hsl(235, 46.9%, 9.6%);
  --color-brand-900: hsl(233, 50%, 3.1%);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
